
body, html {
    margin: 0;
    padding: 0;
    display:flex;
    overflow-x: hidden;
}






lf-content
{
    box-sizing: border-box;
    margin: 2em 0 0 2em;
    padding-right: clamp(1em, 10%, 25%);
    padding-left: clamp(1em, 10%, 25%);
    padding-top: 0em;
    padding-bottom: 0em;
    width: calc(100vw - 2em);
    flex: 1;
}
lf-content[tight]
{
    margin: 2em 0 0 20em;
    width: calc(100vw - 20em);
}





lf-catalogue
{
    position: fixed;
    left:0;
    top:2em;
    width:2em;
    height:100vh;
    background-color: rgb(245, 245, 245);
}
lf-catalogue[open]
{
    width:20em;
}


.VizzyWigets
{
    /*filter: drop-shadow(3px 3px 2px gray);*/
}
svg {
    margin-top: -0px; 
    margin-bottom: -4px;
}
p {
    text-indent: 2em; 
    margin-top: 0px;  
    margin-bottom: 0em; 
}
h1 {
    margin-top: 1em;  /* 减小段落顶部间距 */
    margin-bottom: 1em; /* 减小段落底部间距 */
}
h2 {
    margin-top: 2em;  /* 减小段落顶部间距 */
    margin-bottom: 0.5em; /* 减小段落底部间距 */
}
h3 {
    margin-top: 0px;
    margin-bottom: 1em;
}